body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #333;
}

.container {
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	padding: 20px;
	max-width: 500px;
	width: 100%;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

.result {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
	min-height: 80px;
	max-height: 200px;
	border: 1px dashed #ddd;
	padding: 10px;
	border-radius: 5px;
	background-color: #fafafa;
	overflow-y: auto;
}

.loader {
	font-size: 18px;
	margin: 10px 0;
	color: #28a745;
	display: none;
}

.btn,
.clear-btn,
.mic-btn {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	margin: 5px;
	transition: background-color 0.3s;
}

.btn:hover,
.clear-btn:hover,
.mic-btn:hover {
	background-color: #0056b3;
}

.rec {
	background-color: #ff0000;
}

.rec:hover {
	background-color: #cc0000;
}

.mic-connected {
	background-color: #28a745;
}

.mic-connected:hover {
	background-color: #218838;
}
